<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.ucoon.dao.MissionOrdersMapper" >
  <resultMap id="BaseResultMap" type="com.cn.ucoon.pojo.MissionOrders" >
    <id column="mission_order_id" property="missionOrderId" jdbcType="INTEGER" />
    <result column="mission_order_num" property="missionOrderNum" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="mission_id" property="missionId" jdbcType="INTEGER" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mission_orders
    where mission_order_id = #{missionOrderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.ucoon.pojo.MissionOrders" >
  	<selectKey resultType="java.lang.Integer" keyProperty="missionOrderId" order="AFTER">  
                SELECT LAST_INSERT_ID()  
    </selectKey>  
    insert into mission_orders (mission_order_id, mission_order_num, 
      user_id, mission_id, order_time, 
      finish_time)
    values (#{missionOrderId,jdbcType=INTEGER}, #{missionOrderNum,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{missionId,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP}, 
      #{finishTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cn.ucoon.pojo.MissionOrders" >
    update mission_orders
    <set>  
        <if test="missionOrderNum !=null and missionOrderNum != ''">  
        	mission_order_num = #{missionOrderNum,jdbcType=VARCHAR},
        </if>
        <if test="userId !=null and userId != ''">  
        	user_id = #{userId,jdbcType=INTEGER},
        </if>
        <if test="missionId !=null and missionId != ''">  
        	mission_id = #{missionId,jdbcType=INTEGER},
        </if>
        <if test="orderTime !=null and orderTime != ''">  
        	order_time = #{orderTime,jdbcType=TIMESTAMP},
        </if>
        <if test="finishTime !=null and finishTime != ''">  
        	finish_time = #{finishTime,jdbcType=TIMESTAMP} 
        </if>
    </set>
    where mission_order_id = #{missionOrderId,jdbcType=INTEGER}
  </update>
  
  <update id="updateMissionStatusbyOrdersId" parameterType="com.cn.ucoon.pojo.MissionOrders" >
   update mission set mission_status = 1 WHERE  mission_id = (select mission_id from mission_orders where mission_order_num= #{missionOrderNum,jdbcType=VARCHAR})
  </update>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select mission_order_id, mission_order_num, user_id, mission_id, order_time, finish_time
    from mission_orders
    where mission_order_id = #{missionOrderId,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderNum" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from mission_orders
    where mission_order_num = #{missionOrderNum,jdbcType=INTEGER}
  </select>
  <select id="selectByMissionId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select mission_order_id, mission_order_num, user_id, mission_id, order_time, finish_time
    from mission_orders
    where mission_id = #{missionId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select mission_order_id, mission_order_num, user_id, mission_id, order_time, finish_time
    from mission_orders
  </select>
</mapper>