<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.ucoon.dao.MissionMapper" >
  <resultMap id="BaseResultMap" type="com.cn.ucoon.pojo.Mission" >
    <id column="mission_id" property="missionId" jdbcType="INTEGER" />
    <result column="mission_type_id" property="missionTypeId" jdbcType="INTEGER" />
    <result column="mission_title" property="missionTitle" jdbcType="VARCHAR" />
    <result column="mission_describe" property="missionDescribe" jdbcType="VARCHAR" />
    <result column="pictures" property="pictures" jdbcType="VARCHAR" />
    <result column="people_count" property="peopleCount" jdbcType="INTEGER" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
    <result column="leave_message" property="leaveMessage" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mission
    where mission_id = #{missionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.ucoon.pojo.Mission" >
    insert into mission (mission_id, mission_type_id, mission_title, 
      mission_describe, pictures, people_count, 
      place, start_time, end_time, 
      publish_time, user_id, order_id, 
      view_count, leave_message)
    values (#{missionId,jdbcType=INTEGER}, #{missionTypeId,jdbcType=INTEGER}, #{missionTitle,jdbcType=VARCHAR}, 
      #{missionDescribe,jdbcType=VARCHAR}, #{pictures,jdbcType=VARCHAR}, #{peopleCount,jdbcType=INTEGER}, 
      #{place,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{viewCount,jdbcType=INTEGER}, #{leaveMessage,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cn.ucoon.pojo.Mission" >
    update mission
    set mission_type_id = #{missionTypeId,jdbcType=INTEGER},
      mission_title = #{missionTitle,jdbcType=VARCHAR},
      mission_describe = #{missionDescribe,jdbcType=VARCHAR},
      pictures = #{pictures,jdbcType=VARCHAR},
      people_count = #{peopleCount,jdbcType=INTEGER},
      place = #{place,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      view_count = #{viewCount,jdbcType=INTEGER},
      leave_message = #{leaveMessage,jdbcType=VARCHAR}
    where mission_id = #{missionId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select mission_id, mission_type_id, mission_title, mission_describe, pictures, people_count, 
    place, start_time, end_time, publish_time, user_id, order_id, view_count, leave_message
    from mission
    where mission_id = #{missionId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select mission_id, mission_type_id, mission_title, mission_describe, pictures, people_count, 
    place, start_time, end_time, publish_time, user_id, order_id, view_count, leave_message
    from mission
  </select>
</mapper>