<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.ucoon.dao.MissionAddressMapper" >
  <resultMap id="BaseResultMap" type="com.cn.ucoon.pojo.MissionAddress" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="mission_lng" property="missionLng" jdbcType="VARCHAR" />
    <result column="mission_lat" property="missionLat" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mission_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.ucoon.pojo.MissionAddress" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mission_address (id, place, mission_lng, 
      mission_lat,user_id)
    values (#{id,jdbcType=INTEGER}, #{place,jdbcType=VARCHAR}, #{missionLng,jdbcType=VARCHAR}, 
      #{missionLat,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cn.ucoon.pojo.MissionAddress" >
    update mission_address
    set place = #{place,jdbcType=VARCHAR},
      mission_lng = #{missionLng,jdbcType=VARCHAR},
      mission_lat = #{missionLat,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, place, mission_lng, mission_lat,user_id
    from mission_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPlace" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, place, mission_lng, mission_lat,user_id
    from mission_address
    where place = #{place,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, place, mission_lng, mission_lat,user_id
    from mission_address
  </select>
  
  <select id="selectAllByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, place, mission_lng, mission_lat,user_id
    from mission_address where user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>