<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.ucoon.dao.OrderMapper" >
	<resultMap id="BaseResultMap" type="com.cn.ucoon.pojo.Orders" >
		<id column="order_id" property="orderId" jdbcType="INTEGER" />
		<result column="order_num" property="orderNum" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="mission_id" property="missionId" jdbcType="INTEGER" />
		<result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result column="order_time" property="orderTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >delete from order
    where order_id = #{orderId,jdbcType=INTEGER}</delete>
	<insert id="insert" parameterType="com.cn.ucoon.pojo.Orders" >
		insert into orders (order_id, order_num, user_id, mission_id, order_time, finish_time,
		state ) values (#{orderId,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{missionId,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP},
		#{state,jdbcType=INTEGER} )
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.cn.ucoon.pojo.Orders" >
		update orders set order_num = #{orderNum,jdbcType=INTEGER}, user_id = #{userId,jdbcType=INTEGER},
		mission_id = #{missionId,jdbcType=INTEGER},order_time= #{orderTime,jdbcType=TIMESTAMP}
		,finish_time = #{finishTime,jdbcType=TIMESTAMP}, state = #{state,jdbcType=INTEGER}
		where order_id = #{orderId,jdbcType=INTEGER}
	</update>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer"
		>
		select order_id, order_num, user_id, mission_id, order_time, finish_time, state from
		orders where order_id = #{orderId,jdbcType=INTEGER}
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap" >select order_id, order_num, user_id, mission_id, finish_time, state from orders</select>
	
	<!-- 获取限制数量的order记录  myservice.jsp  state:0正在服务,1已完成-->
	<select id="selectOrdersLimited" resultType="java.util.HashMap">
		SELECT order_id, order_num, orders.user_id, orders.mission_id, order_time,finish_time,
		orders.state ,mission_title ,mission_price,head_img_url FROM ((orders left join
		mission on orders.mission_id = mission.mission_id) left join user on user.user_id
		= mission.user_id) WHERE orders.user_id = #{0} ORDER BY order_time LIMIT #{1},#{2}
	</select>
	
	<select id="selectOrderbyUMID" resultType="java.util.HashMap">SELECT * FROM orders WHERE user_id=#{0} and mission_id=#{1}</select>
	
	<select id="selectOrdersCountByM" resultType="java.lang.Integer">SELECT COUNT(*) FROM orders WHERE mission_id = #{0}</select>
	
	<select id="selectorderDetailsByOrderId" resultType="java.util.HashMap">
		SELECT * from orders LEFT JOIN user on user.user_id = orders.user_id WHERE order_id=
		#{0}
	</select>
</mapper>