<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.ucoon.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.cn.ucoon.pojo.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="weixin_id" property="weixinId" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="credit" property="credit" jdbcType="REAL" />
    <result column="regist_time" property="registTime" jdbcType="TIMESTAMP" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.ucoon.pojo.User" >
    insert into user (user_id, open_id, nick_name, 
      weixin_id, sex, signature, 
      birthday, phone, name, 
      head_img_url, intro, credit, 
      regist_time, country, province, 
      city, state)
    values (#{userId,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{weixinId,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{signature,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{headImgUrl,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{credit,jdbcType=REAL}, 
      #{registTime,jdbcType=TIMESTAMP}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="regist" parameterType="com.cn.ucoon.pojo.User">
		insert into user (open_id,
		nick_name,
		sex,
		head_img_url, 
		regist_time, country,
		province,
		city)
		values (#{openId,jdbcType=VARCHAR},
		#{nickName,jdbcType=VARCHAR},
		#{sex,jdbcType=INTEGER},
		#{headImgUrl,jdbcType=VARCHAR}, 
		#{registTime,jdbcType=TIMESTAMP},
		#{country,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR})
		<selectKey keyProperty="userId" resultType="java.lang.Integer" order="AFTER">
			select LAST_INSERT_ID() 
		</selectKey> 
	</insert>
  <update id="updateByPrimaryKey" parameterType="com.cn.ucoon.pojo.User" >
    update user
    set open_id = #{openId,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      weixin_id = #{weixinId,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      signature = #{signature,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      phone = #{phone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=REAL},
      regist_time = #{registTime,jdbcType=TIMESTAMP},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select user_id, open_id, nick_name, weixin_id, sex, signature, birthday, phone, name, 
    head_img_url, intro, credit, regist_time, country, province, city, state
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_id, open_id, nick_name, weixin_id, sex, signature, birthday, phone, name, 
    head_img_url, intro, credit, regist_time, country, province, city, state
    from user
  </select>
  <select id="selectByOpenId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select user_id, open_id, nick_name, weixin_id, sex,
		signature, birthday,
		phone, name,
		head_img_url, intro, credit,
		regist_time, country, province, city, state
		from user
		where open_id =
		#{openId,jdbcType=VARCHAR}
	</select>
	
	
	<select id="selectUserHeadUrl" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select head_img_url from user
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	
	<select id="selectOpenId" resultType="java.lang.String">
		select open_id from user
		where user_id = #{0}
	</select>
	
</mapper>